{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
<h1><i class="bi bi-tag"></i>태그모음</h1>
<br>
<div>
  {% load taggit_templatetags2_tags %}
  {% get_tagcloud as tags %}
  {% for tag in tags %}
  <h3><span class="tag-{{tag.weight|floatformat:0}}">
      <a class="badge rounded-pill bg-primary text-decoration-none"
        href="{% url 'reviews:tagged_object_list' tag.name %}">#{{tag.name}} {{tag.num_times}}</a>
    </span>
  </h3>
  {% endfor %}
</div>
{% endblock body %}