@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 전체적인 부분 css */
body {
  font-family: 'Gothic A1', sans-serif;
}

.container-css {
  width: min(100%, 100vw);
  margin-inline: auto;
  padding-inline: 16px;
}

@media (min-width: 480px) {
  .container-css {
    padding-inline: 32px;
  }
}

@media (min-width: 768px) {
  .container-css {
    padding-inline: 48px;
  }
}

.padding-page {
  margin-top: 10rem;
}

.font-space {
  letter-spacing: -1px;
}

/* */
.button-background {
  background-color: transparent;
  color: transparent;
  border: 0 transparent;
}

.close-btn-background {
  background-color: transparent;
  border: 0 transparent;
}

.form-control:focus,.form-control:active {
  outline: none !important;
  box-shadow: none !important;
}


/*검색 버튼*/
.gnb_search button {
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  height: 38px;
  background: url(./images/ico_package.png) no-repeat 13px -337px;
  text-align: left;
  text-indent: -999em;
}
.gnb_search {
  width: 30%;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  left: -200px;
  z-index: 0;
}

.gnb_search fieldset {
  position: relative;
  padding-right: 38px;
  border-bottom: 1px solid #e6e6e6;
width: 170px;
}

.gnb_search input {
  height: 38px;
  padding: 0 10px;
  border: 0;
  font-size: 0.875em;
  line-height: 1.5714;
  color: #b2b2b2;
  box-sizing: border-box;
  width: 95%;
}



/* login 부분 */
.signup__button {
  width: 18rem;
}

.login_font-weight {
  font-weight: bold;
}

.login_form-width {
  width: 20rem;
}

.notice-font-size {
  font-size: 13px;
  letter-spacing: -1px;
}