{% extends 'base.html' %}
{% load static %}

{% block body %}
  <!-- viewpoint 제일 작은 사이즈 -->
  <div class="d-flex flex-column align-items-center d-sm-none">
    {% if user.profile_image %}
      <img src="{{ user.profile_image.url }}" style="width: 200px; height: 200px;" class="" alt="{{ user.profile_image }}">
    {% else %}
      <img src="{% static 'images/profiledetail.png' %}" style="width: 100px; height: 100px;" class="me-5" alt="images/profiledetail.png">
    {% endif %}
    <h1 class="mb-0" style="letter-spacing: -2px;">{{ user.username }}</h1>
    <p class="mb-4 fw-lighter">{{ user.email }}</p>
    {% if content != "" %}
      <p>{{ user.content }}</p>
    {% endif %}
    {% if request.user == user %}
      <div>
        <a class="btn btn-outline-dark rounded-0 font-space" href="{% url 'accounts:update' %}">수정하기</a>
      </div>
    {% else %}
      <form action="" method="POST">
        <input type="submit" class="btn btn-outline-primary rounded-0" value="팔로우">
        <input type="submit" class="btn btn-outline-danger rounded-0" value="팔로우 취소">
      </form>
    {% endif %}

  </div>
  <!-- viewpoint sm에서부터 보임-->
  <div class="d-none d-sm-flex row mt-5 text-center justify-content-center align-items-center">
    <div class="col-1"></div>
    <!-- 프로필 이미지 들어가는 곳 -->
    <div class="col-5 text-end">
      {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" style="width: 200px; height: 200px;" class="me-5" alt="{{ user.profile_image }}">
      {% else %}
        <img src="{% static 'images/profiledetail.png' %}" style="width: 100px; height: 100px;" class="me-5" alt="images/profiledetail.png">
      {% endif %}
    </div>
    <div class="col-5 text-start">
      <h1 class="mb-0" style="letter-spacing: -2px;">{{ user.username }}</h1>
      <p class="fw-lighter">
        {{ user.email }}</p>
      {% if content != "" %}
        <p class="font-space">{{ user.content }}</p>
      {% endif %}
      {% if request.user == user %}
        <div>
          <a class="btn btn-outline-dark rounded-0 font-space" href="{% url 'accounts:update' %}">수정하기</a>
        </div>
      {% else %}
        <form action="" method="POST">
          <input type="submit" class="btn rounded-0 follow-btn font-space" value="팔로우">
          <input type="submit" class="btn btn-outline-danger follow_cancel-btn rounded-0 font-space" value="팔로우 취소">
        </form>
      {% endif %}
    </div>
    <div class="col-1"></div>
  </div>

  <div class="d-flex justify-content-center mt-5 p-3">
    <div class="d-flex flex-column text-center">
      <h6 class="font-space px-3 py-2 bg-dark text-white">팔로워</h6>
      <p class="font-space mb-0 fw-bold">1</p>
    </div>
    <div class="d-flex flex-column text-center">
      <h6 class="font-space px-3 py-2 bg-dark text-white">팔로잉</h6>
      <p class="font-space mb-0 fw-bold">3</p>
    </div>
    <div class="d-flex flex-column text-center">
      <h6 class="font-space px-3 py-2 bg-dark text-white">{{ user.username }}'s PICK</h6>
      <p class="font-space mb-0 fw-bold">3</p>
    </div>
    <div class="d-flex flex-column text-center">
      <h6 class="font-space px-3 py-2 bg-dark text-white">DM</h6>
      <input type="checkbox">
    </div>
  </div>

{% endblock body %}