{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="container">
    <h1 class="text-start mb-4 fs-5 font-space fw-bold">회원가입</h1>
    <form action="" method="POST" enctype="multipart/form-data" style="font-size: 15px;"  class="font-space">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button button_type="submit" button_class="w-100 bg-dark text-white rounded-0 font-space" content="가입하기" %}
    </form>
  </div>
{% endblock body %}