{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}

{% block body %}

<div class='d-sm-flex justify-content-center'>
  <div class='d-flex flex-column'>
    <div style="width: 45.4rem; height:63rem; overflow:scroll;">
      {% for image in images %}

      <img style='width: 45.4rem; height: 63rem;' class="detail-image" src="{{ image.product_image }}" alt="">

      {% endfor %}
    </div>
  </div>
  <!-- viewpoint lg에서 보여짐 -->
  <div class="d-none d-lg-block px-3" style="border: 3px solid black; position: sticky; top: 0;">
    <div class="my-3 text-end">
      <form action="{% url 'products:like' products.pk %}" method='POST'>
        {% csrf_token %}
        {% if user in products.like_users.all %}
        <input type="submit" class="" value='찜하기 취소'>
        {% else %}
        <input type="submit" value='찜하기'>
        {% endif %}
      </form>
    </div>
    <p>{{ products.name }}</p>

    {% with products.content|split:"." as cons %}
      {% for con in cons %}
      <p>{{ con }}</p>
      {% endfor %}
    {% endwith %}
    
    <p>{{ products.color }}</p>
    <p>{{ products.price }}</p>
    <p>조회수:{{ products.hits }}</p>
    {% if star == 0.5 %}
    <div><img src="{% static 'images/star_0.5.jpg' %}" alt=""></div>
    {% elif star == 1.0 %}
    <div><img src="{% static 'images/star_1.0.jpg' %}" alt=""></div>
    {% elif star == 1.5 %}
    <div><img src="{% static 'images/star_1.5.jpg' %}" alt=""></div>
    {% elif star == 2.0 %}
    <div><img src="{% static 'images/star_2.0.jpg' %}" alt=""></div>
    {% elif star == 2.5 %}
    <div><img src="{% static 'images/star_2.5.jpg' %}" alt=""></div>
    {% elif star == 3.0 %}
    <div><img src="{% static 'images/star_3.0.jpg' %}" alt=""></div>
    {% elif star == 3.5 %}
    <div><img src="{% static 'images/star_3.5.jpg' %}" alt=""></div>
    {% elif star == 4.0 %}
    <div><img src="{% static 'images/star_4.0.jpg' %}" alt=""></div>
    {% elif star == 4.5 %}
    <div><img src="{% static 'images/star_4.5.jpg' %}" alt=""></div>
    {% elif star == 5.0 %}
    <div><img src="{% static 'images/star_5.0.jpg' %}" alt=""></div>
    {% endif %}
    <p>평균평점:{{ review_ave }}</p>
    <button>장바구니</button>
    <div>
      <div class="col-5 p-0">
        <a href="{% url 'reviews:review_create' products.pk %}" class="btn btn-dark">
          리뷰 쓰기
        </a>
      </div>
      <div class='d-flex my-1'>
        {% for review in reviews %}
        {% if review.user.profile_image %}
        <img src="{{ review.user.profile_image.url }}" alt="" style="width:32px; height:32px;">
        {% endif %}
        <p href="">{{ review.user.username }}</p>
      </div>
      {% if review.review_image %}
      <img src="{{ review.review_image.url }}" alt="" style="width:144px; height:144px;">
      {% endif %}
      <a href="{% url 'reviews:review_detail' products.pk review.pk %}">{{review.content}}<br></a>
      {% endfor %}
    </div>
  </div>
</div>

<div>
  <div class='d-flex my-1'>
    {% for review in reviews %}
    {% if review.user.profile_image %}
    <img src="{{ review.user.profile_image.url }}" alt="" style="width:32px; height:32px;">
    {% endif %}
    <p href="">{{ review.user.username }}</p>
  </div>
  <img src="{{ review.review_image.url }}" alt="" style="width:144px; height:144px;">
  <a href="{% url 'reviews:review_detail' products.pk review.pk %}">{{review.content}}<br></a>
  {% endfor %}
</div>

{% endblock body %}

{% block script %}{% endblock script %}