{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block css %}{% endblock %}
{% block body %}
  <div class='d-flex'>
    <div class='m-0' style='width: 16rem;'>
      {% for image in images %}

        <img style='width: 5rem; height: 10rem;' src="{{ image.product_image }}" alt="">

      {% endfor %}
    </div>
    <div>
      <p>{{ products.name }}</p>
      <p>{{ products.content }}</p>
      <p>{{ products.color }}</p>
      <p>{{ products.price }}</p>
      <button>장바구니</button>
    </div>

  </div>
{% endblock body %}
{% bootstrap_javascript %}
