{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% block css %}{% endblock %}
{% block body %}

  {% regroup images by product.name as product_list %}
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
    {% for clothe in product_list %}

      <div class="d-flex flex-column">
        <img src="{{ clothe.list.0.product_image }}" alt="" class="index-card-image" style="width:190px; height:287px;">
        <p class="text-center pt-2 font-space">{{ clothe.grouper }}</p>
      </div>

    {% endfor %}
  </div>

{% endblock body %}
{% bootstrap_javascript %}